<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAdmd56tR5Fj2N7CHKJUgNm-AGtBE49cYA</string>
	<key>GCM_SENDER_ID</key>
	<string>19167663837</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.instantmart.user</string>
	<key>PROJECT_ID</key>
	<string>instantmart-nepal</string>
	<key>STORAGE_BUCKET</key>
	<string>instantmart-nepal.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:19167663837:ios:7dc0e84a4bfe14bebbad34</string>
</dict>
</plist>